body{
    color: lightpink;
    background-color: rgb(57, 7, 104);
    font-family: 'Lobster', cursive;
}


h1{
    margin: 15px;
    border: solid;
    border-color: darkgreen;
    padding: 20px;
}

#name{
    font: bold 26px Arial sans-serif;
    color: lightblue;
}